<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MILKIE</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}">
  
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>
<body>
    {% block content %}
    <div class="container-fluid" id="home">
        <nav class="navbar navbar-expand-md fix position-fixed top-0 " style="background-color: white;">
            
              <h1> <a href="#" class="navbar-brand fs-1 fst-italic ">MILKIE</a></h1>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#product">Product</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#about">About</a>
                          </li>
                    </ul>
                         
                
                <div class="signup">
                    {% if user.is_authenticated %}
                    <a href="logout"><input type="button" value="Logout" class="btn btn-danger"></a>
                    {% else %}
                    <a href="signup"><input type="button" value="Signup" class="btn btn-info"></a>
                    <a href="login"><input type="button" value="Login" class="btn btn-success"></a>
                     {% endif %} 
        
                </div>
            </div>
          </nav>

          <div class="container image ">
           
          </div> 
          
        

          <br>
          <h2 class=" fs-1 fst-italic" id="product">PRODUCTS</h2>
         <br><br>

        <div class="container product">
            
            <div data-aos="fade-right" data-aos-duration="2000">
                <div class="product1">
                    <a href="{% url 'milk' %}"><button class="btn1">DETAILS</button></a>
                 </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="2000"> <div class="product2">
                <a href="{% url "curd" %}"><button class="btn1">DETAILS</button></a>
            </div></div>
            <div data-aos="fade-down" data-aos-duration="2000">
            <div class="product3">
                <a href="{% url "butter" %}"><button class="btn1">DETAILS</button></a>
            </div>
        </div>
            <div data-aos="fade-left" data-aos-duration="2000">
            <div class="product4">
                <a href="{% url "cheese" %}"><button class="btn1">DETAILS</button></a>
            </div>
        </div>
            <div data-aos="fade-right" data-aos-duration="2000">
            <div class="product5">
                <a href="{% url "buttermilk" %}"><button class="btn1">DETAILS</button></a>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000">
            <div class="product6">
                <a href="{% url "ghee" %}"><button class="btn1">DETAILS</button></a>
            </div>
        </div>
        <div data-aos="fade-down" data-aos-duration="2000">
            <div class="product7">
                <a href="{% url "condensed" %}"><button class="btn1">DETAILS</button></a>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="2000"><div class="product8">
            <a href="{% url "yogurt" %}"><button class="btn1">DETAILS</button></a>
        </div></div>
        </div>

<br><br>

        
    </div>
    <div data-aos="fade-up" data-aos-duration="2000">
    <div class="end " id="about">
        
        <div class="end1 ">
            <h2>Address</h2>
            <p>1-234,</p>
            <p>Westmasi street,</p>
            <p>Madurai.</p>
        </div>
        <div class="end2 ">
            <h2>Social Media</h2>
            <p><i class="fa-brands fa-instagram"></i> <a href=""> Instagram</a></p>
            <p><i class="fa-brands fa-whatsapp"></i> <a href=""> Whatsapp</a></p>
            <p><i class="fa-brands fa-facebook"></i> <a href="">Facebook</a></p>
        </div>
        <div class="end3 ">
            <h2>Certification</h2>
            <p>ISI Certificate</p>
            <p>ISO Certificate</p>
        </div>


    </div>
</div>
    <br><br>
    <hr>
    <script>
        AOS.init();
    </script>
    {% endblock  %}
    
</body>
</html>

